body {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #90daf0;
}

.header_text {
    font-family: 'Comic Sans MS';
    font-size: 45x;
    color: #bb4840;
    text-align: center;


}

.text {
    font-family: 'Comic Sans MS';
    font-size: 25px;
    font-weight: bold;
    color: #bb4840(110, 0, 0);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
}
